<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni hakkımızda yazı girişi
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Hakkımızda metin girişi
                </h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımızda</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>

    </div>
</div>